@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v7/zhcz-_WihjSQC0oHJ9TCYL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

.footer-container {
    width: 100%;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    width: auto;
    padding: 1.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
}

.footer-left>div {
    margin-top: 10px;
}

.footer-left p {
    margin: 0px 40px;
    font-size: 15px;
}

.footer-right {
    width: auto;
    padding-right: 50px;
    display: flex;
    justify-content: flex-end;
    float: right;
}

.footer-right>div {
    margin: 0 20px;
}

.footer-right>div>h1 {
    margin: 5px;
    font-size: 15px;
    font-weight: 700;
}

.call {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.write {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.follow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.follow-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.follow-icons>a {
    margin: 5px;
}

.follow-icons .fb {
    width: 10px;
}

.follow-icons .github {
    width: 15px;
}

.follow-icons .linkedin {
    width: 25px;
}

.follow-icons .gmail {
    width: 15px;
}

@media only screen and (max-width:900px) {
    footer {
        width: auto;

        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .footer-left {
        width: 100%;

        padding: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-left>div {
        margin: 20px 7px;
    }

    .footer-left p {
        margin: 0px 10px;

        font-size: 15px;
    }

    .footer-right {
        width: auto;

        padding-right: 0px;

        display: flex;
        flex-wrap: wrap;

        float: right;
    }

    .footer-right > div {
        margin: 10px 20px;
    }
    .footer-right > div > h1 {
        margin: 0px;

        font-size: 15px;
        font-weight: 700;

        text-align: start;
    }

    .footer-right > div > a {
        margin: 10px 0;

        font-size: 15px;
    }

    .call {

        display: flex;
        flex: 25%;
        flex-direction: column;
        align-items: flex-start;
    }

    .write {
        display: flex;
        flex: 25%;
        flex-direction: column;
        align-items: flex-start;
    }

    .follow {
        display: flex;
        flex: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .follow-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }

    .follow-icons > a {
        margin: 5px 8px;
    }

    .follow-icons .fb {
        width: 13px;
    }

    .follow-icons .github {
        width: 18px;
    }

    .follow-icons .linkedin {
        width: 28px;
    }
    
    .follow-icons .gmail {
        width: 18px;
    }
}