html{
    margin: 0;
    padding: 0;
    width: 100%;

}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    text-align: center;
    background: white;
    /* height: 100vh; */
    display: table;
}
/* 
.bgvid{
    width: 100vw;
    height:100vh;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    
} */

.bgvid video{
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index:-1
}

.landingname{
    position: relative;
    top:50vh;
    left:50vw;
    transform: translate(-50%,-50%);
    width:65vw;
}


path{
    stroke: black;
    fill: black;
    stroke-dasharray: 1800;
    opacity: 10;
    animation: animate 5s cubic-bezier(0.5,.3,.6,.1);
}

@keyframes animate{
    0%{
        opacity:0;
        fill:none;
        stroke-dashoffset: 1800;
    }

    30%{
        opacity:10;
        fill:none;
        stroke-dashoffset: 1800;
    }

    90%{
        fill: rgba(255,255,255,0);
    }

    100%{
        opacity: 10;
        fill: rgba(255,255,255,1);
        stroke-dashoffset: 0;
    }
}


.myprojects{
    height: 100vh;
    width:100vw;
    background-color: white;
}