html{
    margin: 0;
    padding: 0;
    width: 100%;

}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    text-align: center;
    background: white;
    /* height: 100vh; */
    display: table;
}

.landing{
    height: 100vh;
    width: 100vw;
}
/*
.bgvid{
    width: 100vw;
    height:100vh;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;

} */

.bgvid video{
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index:-1;
}

.landingname{
    position: relative;
    top:50vh;
    left:50vw;
    transform: translate(-50%,-50%);
    width:55vw;
}


path{
    stroke: black;
    fill: black;
    stroke-dasharray: 1800;
    opacity: 10;
    animation: animate 5s cubic-bezier(0.5,.3,.6,.1);
}

@keyframes animate{
    0%{
        opacity:0;
        fill:none;
        stroke-dashoffset: 1800;
    }

    30%{
        opacity:10;
        fill:none;
        stroke-dashoffset: 1800;
    }

    90%{
        fill: rgba(255,255,255,0);
    }

    100%{
        opacity: 10;
        fill: rgba(255,255,255,1);
        stroke-dashoffset: 0;
    }
}


.bio{
    height: 100vh;
    width:100vw;
    display: inline-block;
    background-color: white;
    border: red 1px solid;
    clear: both;
}

.profile{
    /* border: blue 5px solid; */
    /* background-color: blue; */
    width:40vw;
    height: 70vh;
    float: left;
    /* z-index: 10; */
    /* padding: 2vw;; */
    display: block;
    align-items: center;
    justify-content: center;
}

.profile>div{
    margin-top:5vh;
    padding:1vw;
}

.profile>div>p{
    font-size: 1.5vw;
}

.profilepic>img{
    border-radius: 20vw;
    max-width: 15vw;
    box-shadow: 5px 10px 5px grey;
}

.portfolio{
    /* border: black 2px solid; */
    width: 60vw;
    height: 100vh;
    float: right;
    box-shadow: -10px 0px 10px 1px #aaaaaa;
}
.portfolio>div{
    margin-top: 5vh;
}
.portfolio>div>a{
    margin: 10vh ;

    font-size: 2vw;;
}


.iconsBlock{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  .iconsBlock > div{
    padding: 1.6vw;
    cursor: pointer;

  }