.navbar-container{
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
}

.nav-left{
    width: 50%;

    padding: 10px;
    margin-left: 40px;
    
    display: flex;
    align-items: center;

    float: left;
    
}

.blue-square {
    height: 15px;
    width: 15px;

    margin: 5px 10px 0px 10px;

    background-color: blue;
}

.nav-name {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.nav-name >h1 {
    font-size: 35px;
    font-family: 'Monteserat';
    font-variant-caps: petite-caps;
}

.nav-name >h2 {
    padding-left: 15px;
    margin-top: 20px ;
    font-size: 18px;
    font-weight: 300;
}
.nav-right{
    width: 50%;

    padding: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
}