.navbar-container{
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left{
    width: auto;

    padding: 10px;

    float: left;
    
}

.nav-left-content {
    margin-left: 40px;

    display: flex;
    align-items: center;
}

.blue-square {
    height: 15px;
    width: 15px;

    margin: 5px 10px 0px 10px;

    background-color: blue;
}

.nav-name {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.nav-name >h1 {
    font-size: 35px;
    font-family: 'Monteserat';
    font-variant-caps: petite-caps;
}

.nav-name >h2 {
    padding-left: 15px;
    margin-top: 20px ;
    font-size: 18px;
    font-weight: 300;
}

.nav-right{
    width: auto;

    padding: 10px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: right;
}

.nav-links {
    list-style: none;

    margin-right: 40px;
    /* padding: 10px; */
    
    display: flex;
    align-items: center;

    float: right;
}

.menu-item {
    margin: 0 20px;
    cursor: pointer;
}

.menu-item:hover {
    color: blue;
    transition: 0.3s;
}