
.experience-card {
    height: auto;
    width: auto;
    
    margin: 50px 0;
    padding: 4rem 2rem;

    display: flex;
    justify-content: space-between;

    background-color: white;
    box-shadow: -11.31px 11.31px 25px 0px rgba(138,131,124,0.23);
}

.experience-card > div {
    margin: 20px;
}

.card-left {
    display: flex;
    flex-direction: column;
}

.card-left h1{
    margin: 0;

    font-size: 20px;
    color: blue;
}

.card-left h2{
    margin: 5px 0;

    font-size: 19px;
    font-weight: 600;
    font-variant-caps: petite-caps;
}

.card-left h3{
    font-size: 15px;
    font-weight: 100;
    margin: 0;
}

.card-right{
    max-width: 400px;

    padding-left: 50px;

    display: flex;
    flex-direction: column;
}