

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v7/zhcz-_WihjSQC0oHJ9TCYL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

.home{
    height: auto;
    /* min-height: 90vh; */
    /* width: 100vw; */

    /* padding: 10rem; */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* border: solid; */
}

.bg-home{
    position: absolute;
    height: auto;
    width: 100vw;
    z-index: -1;
    /* border: solid; */
}

.bg-home-left{
    /* min-height: 100vh; */
    height: 50rem;
    width: 40%;
    background-color: rgb(128, 167, 255);
}

.home-info{
    /* height: ; */
    /* width: auto; */

    margin-top: 5rem;
    margin-right: 8rem;

    display: flex;
}

.home-card{
    height: fit-content;
    width: fit-content;

    padding: 3rem 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: -11.31px 11.31px 17px 0px rgba(138,131,124,0.23);
    background-color: rgb(170, 197, 255);
}

.card-img > img {
    max-width: 10vw;
    border-radius: 100px;
}

.card-name{
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 500;

    text-align: center;
}

.card-name > h1{
    text-align: center;
    line-height: 1.2em;
}

.card-subtitle > h3{
    font: normal normal normal 17px/1.4em avenir-lt-w01_35-light1475496,sans-serif;

    text-align: center;

    letter-spacing: 0.25em;
    line-height: 1rem;
}

.home-side-info{
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-side-info > div{
    padding: 1rem;
}

.info-details{
    width: 200px;

    line-height: 1.4rem;
}