
.resume-container {
    width: 100%;
    height: 500px;
    background-color: rgb(128, 167, 255);
}

.resume-header {
    padding-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-square {
    height: 15px;
    width: 15px;

    margin: 10px 10px 0 10px;
    
    background-color: blue;
}

.header-title {
    font-variant-caps: petite-caps;
}

.header-title > h1 {
    font-size: 40px;
    font-weight: 600;
}